
  <div class="container">
    <div>   
    <div class="row"> 
      <div class="col-xs-6 col-xs-offset-3">
        <input class="userInput" type="text" ng-model='userSearch' placeholder="Search by album name" >
      </div> 
     </div> 
        <p>There are {{main.albums.length}} album(s) to view</p>
      <div class="row">
        <div class="col-xs-4" ng-repeat="album in albums=(main.albums | filter: {name: userSearch} | orderBy: 'date')">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/images/yeoman.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{album.name}}<i class="material-icons right">{{album.date}}</i></span>
              <p><a href="#">Photos</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{album.name}}<i class="material-icons right">close</i></span>
              <p>{{album.description}}</p>
              <p></p>
            </div>
          </div>
        </div>
         <div class="no-criteria" ng-show="!albums.length">No album match that criteria</div>
      </div>
     </div> 

     <h3>Add new album:</h3>

  <form name="album_form" novalidate>  
    <div class="album panel panel-default row">
       <div class="panel-heading" >
       <div class="alert alert-danger" role="alert" ng-show="main.add_album_error">{{main.album_error}}</div>
       <div class="alert alert-success" role="alert" ng-show="main.add_album_success">{{main.album_error}}</div>
        <div style="float:right">
          <input name="date" type="text" class="input_date" placeholder="yyyy/mm/dd" ng-model="main.adding_album.date"/>
        </div>
        <!-- <div style="float:left"> -->
           <input type="text" class="input_title" placeholder="Title..." ng-model="main.adding_album.name"/>
        <!-- </div> -->
       </div>
      <!--  <div class="input_name col-xs-8 col-xs-offset-2">
         <input type="text" placeholder="Album's name...">
       </div> -->
       <div class="description col-xs-8 col-xs-offset-2">
         <textarea class="input_description" ng-model="main.adding_album.description" placeholder="Description...."></textarea>
       </div>
       <!-- In order to remove the floating on the button -->
       <div style="clear:left"></div>
       <button class="submit-button" ng-click="main.addAlbum(main.adding_album)" type="submit" >Submit</button>
    </div>
  </form>
 </div>  

 