
  <div class="container">
    <div ng-init="albums=[{name: 'Madrid2009',title:'Weekend in Madrid',date:'2009-09-01',description:'Fun weekend visiting the city'},
                            {name: 'Brazil2010',title:'A week in Rio de Janeiro',date:'2010-05-23',description:'Week with friends and family'},
                            {name: 'Cuba2011',title:'Visiting Habana',date:'2011-10-10',description:'Havana with my parents'},{name: 'Egypt2012',title:'Visitng El Cairo',date:'2011-11-01',description:'Amazing piramides'}]">   
     
      <input type="text" ng-model='userSearch' placeholder="Search by album name" >
        <p>There are {{albums.length}} album(s) to view</p>
  
      <div class="row">
        <div class="col-xs-4" ng-repeat="album in albums | filter: userSearch | orderBy: 'date'">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="assets/images/yeoman.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{album.name}}<i class="material-icons right">{{album.date}}</i></span>
            <p><a href="#">Photos</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{album.name}}<i class="material-icons right">close</i></span>
            <p>{{album.description}}</p>
          </div>
        </div>
        </div>
      </div>
     </div> 
 </div>  

 