
  <div class="container">
    <div>   
    <div class="row"> 
      <div class="col-xs-6 col-xs-offset-3">
        <input class="userInput" type="text" ng-model='userSearch' placeholder="Search by album name" >
      </div> 
     </div> 
        <p>There are {{main.albums.length}} album(s) to view</p>
      <div class="row">
        <div class="col-xs-4" ng-repeat="album in albums=(main.albums | filter: {name: userSearch} | orderBy: 'date')">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/images/yeoman.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{album.name}}<i class="material-icons right">{{album.date}}</i></span>
              <p><a href="#">Photos</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{album.name}}<i class="material-icons right">close</i></span>
              <p>{{album.description}}</p>
              <p></p>
            </div>
          </div>
        </div>
         <div class="no-criteria" ng-show="!albums.length">No album match that criteria</div>
      </div>
     </div> 
 </div>  

 